*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.back{
    color: black;
}
.img__top{
   padding-left: 30%;
    width: 30%;
    height: 30%;
}
.header{
    padding-top: 30px;
    padding-bottom: 30px;
    background: black;
}
.header__link{
   
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 23px;
    color: white;
}
.about{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;

}
.about__info{
    border-radius: 100px;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 33px;
    color: rgba(192, 17, 17, 0.623);
}
.img__bot{
 width: 99%;
}
